<!--  HEADER  STARTS  -->
<mat-toolbar color="primary">

    <span>Admin Panel</span>

    <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Settings</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>notifications_off</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <!-- This fills the remaining space of the current row -->
    <span class="toolbar-fill-remaining-space-to-right"></span>
    <button mat-button routerLink="users">Users</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<!--  HEADER  ENDS  -->


<!--  DRAWER CONTAINER WITH DRAWER & MAIN CONTENT  STARTS  -->
<mat-drawer-container class="example-container" autosize>

    <!--  MAIN-CONTENT STARTS  -->
    <mat-card class="mat-card-home">
        <mat-card-header>
            <div mat-card-avatar class="left-header-image"></div>
            <mat-card-title>Angular</mat-card-title>
            <mat-card-subtitle>Material 2</mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/images/admin.png" width="210px" height="240px">
        <mat-card-content>
            <p>
            Material Design admin panel for Angular 4/5
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <!--  MAIN-CONTENT ENDS  -->

    <!--  DRAWER  STARTS  -->
    <mat-drawer #drawer class="left-sidenav" mode="side">
        <p>Admin Menu</p>
        <button mat-menu-item> Users </button>
        <mat-divider></mat-divider>
        <button mat-menu-item> Messages </button>
        <mat-divider></mat-divider>
        <button mat-menu-item> Events </button>
        <mat-divider></mat-divider>
        <button mat-menu-item> Settings </button>
        <mat-divider></mat-divider>
        <button mat-menu-item> Help </button>
        <mat-divider></mat-divider>
    </mat-drawer>
    <!--  DRAWER  ENDS  -->

</mat-drawer-container>
<!--  DRAWER CONTAINER WITH DRAWER & MAIN CONTENT  ENDS  -->
