<mat-toolbar color="primary">

  <span>Admin Panel</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
    	<mat-icon>dialpad</mat-icon>
    	<span>Settings</span>
  	</button>
    <button mat-menu-item disabled>
    	<mat-icon>voicemail</mat-icon>
    	<span>Profile</span>
  	</button>
    <button mat-menu-item (click)="onLogout()">
    	<mat-icon>notifications_off</mat-icon>
    	<span>Logout</span>
  	</button>
  </mat-menu>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-fill-remaining-space-to-right"></span>
  <span>Options</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  

</mat-toolbar>

<mat-card class="mat-card-home">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular</mat-card-title>
    <mat-card-subtitle>Material 2</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://loiane.com/images/tags/angular.svg" height="300px">
  <mat-card-content>
    <p>
      Material Design components for Angular
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>