/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


/*
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.toolbar-fill-remaining-space-to-right {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}